export JAVA_HOME={{ JAVA_HOME }}
export HADOOP_HOME={{ BASE_DIR }}/hadoop
export HADOOP_CONF_DIR=$HADOOP_HOME/etc/hadoop
export PATH=$PATH:$JAVA_HOME/bin:{{ BASE_DIR }}/hadoop/bin:{{ BASE_DIR }}/hadoop/sbin:{{ BASE_DIR}}/spark/bin:{{ BASE_DIR}}/spark/sbin
export HADOOP_SSH_OPTS="-o StrictHostKeyChecking=no"
